@font-face {
  font-family: "autography";
  src: url("../fonts/autography-webfont.woff2") format("woff2"),
    url("../fonts/autography-webfont.woff") format("woff"),
    url("../fonts/Autography.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chocolate";
  src: url("../fonts/chocolate-webfont.woff2") format("woff2"),
    url("../fonts/chocolate-webfont.woff") format("woff"),
    url("../fonts/Chocolate.ttf") format("tff");
  font-weight: normal;
  font-style: normal;
}
