#sobre {
    article {
      border-radius: 0.8rem;
      background-color: white;
      padding: 0 0 2rem 0;
      margin: 2rem 0;
    }
    .text-about {
      padding: 2rem;
    }
    p {
      text-align: center;
      font-size: 1.25rem;
    }
  }