$color-font: #fff;
$color-bg-default: rgb(4, 131, 82);
$font-default: Arial, Helvetica, sans-serif;
$color-bg-boxes: rgb(253, 179, 31);
$font-size-defaut: 1.6rem;
$font-logo: 'autography';
$font-item: 'chocolate';