.vitrine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  &__item {
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    font-size: 1.5rem;
  }
  &__image {
    background-color: black;
    width: 100%;
    height: 10rem;
  }
  &__button {
    background-color: gray;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    font-size: 1.15rem;
    text-decoration: none;
    align-self: center;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }
}

.vitrine-fundo {
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: white;
  padding: 2rem 0.5rem 2rem 0.5rem;
}
