$color-font: #fff;
$color-bg-default: rgb(4, 131, 82);
$font-default: Arial, Helvetica, sans-serif;
$color-bg-boxes: rgb(253, 179, 31);
$font-size-defaut: 1.6rem;
html {
  font-size: 62.5%;
}

body {
  //background: url('../assets/background.jpg') no-repeat top center;
  background-color: $color-bg-default;
  background-size: cover;
  font-family: $font-default;
  margin: 0;
}

h1 {
  color: $color-font;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

h2 {
  color: $color-font;
  margin-top: 4rem;
  text-align: center;
}
header,
section,
footer {
  display: block;
  float: left;
  width: 100%;
}
.container {
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
  flex-flow: column;
}
#sobre {
  background-color: #fff;
}
#produtos {
}

@import "vitrine";
