$color-font: #fff;
$color-bg-default: rgb(4, 131, 82);
$font-default: Arial, Helvetica, sans-serif;
$color-bg-boxes: rgb(253, 179, 31);
$font-size-defaut: 1.6rem;
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  font-family: $font-default;
  margin: 0;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  background-color: rgb(238, 238, 238);
  border-radius: 0.8rem 0.8rem 0 0;
  color: black;
  padding: 1.5rem 0;
  margin: 0;
}

h2 {
  color: $color-font;
  margin-top: 4rem;
  text-align: center;
}
header,
section {
  display: block;
  float: left;
  width: 100%;
}
.container {
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
  flex-flow: column;
}

#sobre {
  article {
    border-radius: 0.8rem;
    background-color: white;
    padding: 0 0 2rem 0;
    margin: 2rem 0;
  }
  .text-about {
    padding: 2rem;
  }
  p {
    text-align: center;
    font-size: 1.25rem;
  }
}

header {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    color: black;
    font-family: "Arial Black", Times;
    text-transform: uppercase;
    font-size: 3rem;
    margin-left: 0.5rem;
  }
  nav {
    a {
      text-decoration: none;
      color: black;
      margin-right: 1rem;
      font-size: 2rem;
    }
    a:hover {
      color: white;
      background-color: rgb(51, 51, 51);
      padding: 1rem 2rem;
    }
  }
}

footer {
  display: flex;
  padding: 4rem 0;
  color: rgb(48, 48, 48);
  align-items: center;
  p {
    text-align: center;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
}

#contato {
  h1 {
    margin-top: 2rem;
  }
  form {
    border-radius: 0 0 0.8rem 0.8rem;
    background-color: white;
    padding: 3rem 0;
    width: 100%;
  }
}

@import "vitrine";
