$color-font: #fff;
$color-bg-default: #3ff;
$font-default: Arial, Helvetica, sans-serif;
$color-bg-boxes: #FD9;

body {
    background: url('../assets/background.jpg') no-repeat top center;
    background-size: cover;
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

h2{
    margin-top: 4rem;
}
.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    
    img {
        width: 100%;
        height: auto;
    }

}
%boxContainer{
    background: $color-bg-boxes;
    display: flex;
    border-radius: 1rem;
}

.box__container{
    @extend %boxContainer;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box__container2{
    @extend %boxContainer;
    padding: 1rem;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box{
    width: 10rem;
    height: 10rem;
    //margin: 1rem;
    border-radius:1rem;
    border: 2px solid $color-font;
    text-align: center;
}